@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

.footer__block {
  clip-path: polygon(140px 0, 100% 0, 100% 100%, 0 100%);
  width: calc(50% - 210px);
}

.footer__mobileScreen {
  background: url(https://www.flashscore.ph/res/_fs/build/mobile_screen.fbb6793.png)
    no-repeat 50%/191px 238px;
  right: calc(50% - 480px);
}
